*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

html{

font-family: Whitney, Helvetica, Arial , san-serif;
font-size: 100%;

}

header{

height: 55px;
background-image: url(../img/img/jumbo.png);
background-repeat: no-repeat;
background-size: cover;
flex-wrap: wrap;

}

.container-head{

    width: 80%;
    padding: 0;
    margin-left: 10%;
    background-color: blueviolet;
    display: flex;
}


.pink > p {

    color: white;
    inline-size: max-content;
    line-height: 25px;
}

.colum{

flex-direction: column;
align-items: center;
margin-top: 20px;

}

.colum > h3 {
display: contents;

}

.colum > span {

    background-color: rgb(177, 130, 238);
    color: white;
    padding: 7px;
    border-radius: 12px;
    margin-top: 3%;

}





.head-link{

    margin-left: 10%;
    margin-top: 9px;

}


h1{

color: white;    
text-align: center;
font-size: xx-large;
margin-bottom: 31px;

}


.white-log{

 background-color: white;
 color: black;
 padding: 7px;
 border-radius: 12px;   
}

.black-log{

   background-color: black;
   color: white;
   padding: 7px;
   border-radius: 12px; 
   margin-left: 5px;
   margin-left: 29px;  

}




.no-points{

  list-style: none;

}

li{

 display: inline-block;
 padding: 5px;
    
}

.image-size{

    width: 80%;
    float: left;

}

h2{

display: inline-block;
background-color: #20B2AA;
font-size: xx-large;

}

.first-h2{
margin-top: 33px;    
}






.border-black{

border: 1px dashed black;


}




.container{

display: flex;
width: 80%;
padding: 0;
align-content: flex-start;
justify-content: center;
background-color: blueviolet;

}

header div{

padding-top: 7px;
padding-bottom: 7px;
padding-left: 5px;
padding-right: 5px;

}

.div-left{
color: white;
width: 25%;    
text-align: left;

}

.div-right{
color: white;
width: 25%;
text-align: right;
padding-top: 16px;
}


.div-center{
 color: white;   
width: 50%;
text-align: center;

}

section{

justify-content: center;
align-items: center;    
display: flex;
min-height: 300px;
}


.pink{

background-color: #ee82ee;
min-height: 200px;
text-align: -webkit-center;


}

.blue-back{

    background-image: url(../img/img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center;


}

.sec{

justify-content: center;

}

.img-size{

width: 85%;

}



.azure{
background-color: #1e90ff;
width: 65%;
}

.light-pink{
background-color: #FFC0CB; 
width: 35%;
}


.light-pink > p, h2 {

text-align: initial;
display: block;
}

.light-pink > p{

font-size: 14px;
margin-top: 23px; 
line-height: 24px;

}



.revert{

 flex-direction: row-reverse;   

}


.gray{

    background-color: #D3D3D3;
}



.black{

background-color: #23272A

}

.coral{
min-height: 450px;
width: 28%;
background-color: #F08080;
border: 1px dashed black;
}

.light-blue{

    border: 1px dashed white;
    min-height: 450px;
    background-color: #20B2AA;
    width: 18%;
}

.final{

justify-content: space-between;
background-color: #7FFFD4; 

}

.final-botton{

background-color: #FFB6C1;
border: 1px dashed black;
line-height: 33px;

}



.first-child li{

color: black;
display: block;
padding-top: 30px;

}


.second-child li{

color: white;
display: block;

}




.coral h3 {

color: rgb(180, 92, 240);

}


.coral div {

    margin-top: 30px;
    margin-bottom: 10px;

}






.logo-ita{

width: 9%;  
margin-right: 5px;  
}

.p-inline{

display: inline-block;  
margin-bottom: 10px; 
    
}


.btn-violet{

background-color: rgb(189, 95, 252);
color: white;
padding: 7px;
border-radius: 12px;   

}